<div class="px-2">
    <nav class="navbar navbar-expand-md navbar-light ">
        <a href="#" class="navbar-brand">
            <img class="w-75 h-75" src="assets/images/logo.png" height="28" alt="CoolBrand">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <a routerLink="employees" class="nav-item nav-link active" routerLinkActive="active">HOME</a>
                <a routerLink="add" class="nav-item nav-link" routerLinkActive="active">PRODUCTS</a>
                <a routerLink="users" class="nav-item nav-link">ARTIST</a>
                <a routerLink="adduser" class="nav-item nav-link" tabindex="-1">SUPPORT</a>
            </div>
        </div>
    </nav>
    <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true" interval="800" [keyboard]="true"
        [pauseOnHover]="true" [wrap]="true" [activeId]="'firstSlide'" #ngcarousel>
        <ng-template ngbSlide id="firstSlide">
            <div class="picsum-img-wrapper">
                <img src="assets/images/slide1.png" alt="Angular Carousel 1">
            </div>
        </ng-template>
        <ng-template ngbSlide id="SecondSlide">
            <div class="picsum-img-wrapper">
                <img src="assets/images/slide2.png" alt="Angular Carousel 2">
            </div>
        </ng-template>
        <ng-template ngbSlide id="ThirdSlide">
            <div class="picsum-img-wrapper">
                <img src="assets/images/slide3.png" alt="Angular Carousel 3">
            </div>
        </ng-template>
        <ng-template ngbSlide id="FourSlide">
            <div class="picsum-img-wrapper">
                <img src="assets/images/slide4.png" alt="Angular Carousel 4">
            </div>
        </ng-template>
        <ng-template ngbSlide id="FiveSlide">
            <div class="picsum-img-wrapper">
                <img src="assets/images/slide5.png" alt="Angular Carousel 5">
            </div>
        </ng-template>
    </ngb-carousel>
    <div class="text-center">
        <button (click)="navigateToSlide('FourSlide')">Go to Slide Four</button>
        <button (click)="getToPrev()">Prev</button>
        <button (click)="goToNext()">Next</button>
        <button (click)="stopCarousel()">Pause</button>
    </div>

</div>
<div class="container">
    <br>
    <!--  <h2 style="text-align: center;">{{title}}</h2> -->
    <hr>
    <div class="card">
        <div class="card-body">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <span>All Rights Reserved 2020 @Rayan</span>
    </div>
</footer>